@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')

body 
  font-family: Noto Sans TC, Helvetica Neue, Helvetica, Arial, sans-serif
  letter-spacing: 0em
  color: black
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.nyadoi 
  display: flex
  flex-direction: column
  align-items: center
  font-size: 22px
  margin-top: 1.5em
  max-width: 40em

p 
  margin: 0.3em

.name 
  font-size: 1.5em

.bigword 
  font-size: 2em
  font-weight: bold
  margin-top: 0

.descr 
  color: #808080
  display: flex
  flex-direction: row
  margin-bottom: 1em

.descr p 
  margin-left: 0
  margin-right: 0

a 
  text-decoration: none

a:visited 
  color: blue

@media only screen and (max-width: 576px) 
  .nyadoi 
    font-size: 18px
    margin-top: 0.5em
  
  .split 
    display: none
  
  .descr 
    flex-direction: column

.icon 
  height: 1em
  margin-left: 0.3em
  margin-right: 0.3em

.figure 
  margin-top: 1em
  width: 100%
  padding-left: 23%
